<%= form_for(@inspiration, html: { multipart: true }) do |f| %>
  <% if @inspiration.errors.any? %>
    <div class="error_explanation">
      <h2>
        <%= pluralize(@inspiration.errors.count, "error") %> prohibited this inspiration from being saved:
      </h2>

      <ul>
      <% @inspiration.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form">
    <div class="field">
      <%= f.text_field :title, placeholder: 'Title', autocomplete: 'off' %>
    </div>
    <div class="field">
      <%= f.text_field :link, placeholder: 'Url', autocomplete: 'off' %>
    </div>
    <div class="field">
      <%= f.text_area :content, placeholder: 'Content' %>
    </div>
    <div class="field">
      <%= f.file_field :image %>
    </div>
    <div class="action-buttons">
      <%= link_to 'Back', back_path, { class: 'text-button' } %>
      <%= f.submit class: 'text-button' %>
    </div>
  </div>
<% end %>
