<header class="header1">
  <div class="container-menu-header">
    <div class="wrap_header">
      <div class="logo">
        <%= link_to main_app.root_path, class: 'header-wrapicon1 dis-block' do %>
          <%= image_tag '/images/icons/back-arrow.png', class: 'header-icon1', alt: 'ICON' %>
        <% end %>
      </div>
      <div class="wrap_menu">
        <nav class="menu">
          <ul class="main_menu">
            <li>
              <%= link_to 'Admin Home', root_path, class: current_page?(root_path) ? 'selected_menu_item' : '' %>
            </li>
            <li>
              <%=
                link_to 'Sliders', sliders_path,
                class: controller.controller_name == 'sliders' ? 'selected_menu_item' : ''
              %>
            </li>
            <li>
              <%=
                link_to 'Products', products_path,
                class: controller.controller_name == 'products' ? 'selected_menu_item' : ''
              %>
            </li>
            <li>
              <%=
                link_to 'Inspirations', inspirations_path,
                class: controller.controller_name == 'inspirations' ? 'selected_menu_item' : ''
              %>
            </li>
            <li>
              <%=
                link_to 'Shippings', shippings_path,
                class: controller.controller_name == 'shippings' ? 'selected_menu_item' : ''
              %>
            </li>
          </ul>
        </nav>
      </div>
    <div/>
  </div>
</header>
