<h4>View item</h4>

<br />

<p class="notice"><%= notice %></p>

<div class="action-buttons">
  <%= link_to 'Back', inspires_path, class: 'text-button' %>
  <%= link_to 'Edit', edit_inspire_path(@inspire), class: 'text-button' %>
  <%= link_to 'Delete', @inspire, method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-button' %>
</div>

<div class="view-container">
  <%= render 'landing/components/inspire_card', inspire: @inspire, index: 0 %>
</div>
